/**
 * App
 *
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */
.App {
	@extend %position-relative;

	/* stylelint-disable-next-line */
	@extend .color-white;

	&__background {
		@include absolute( top 0 right 0 bottom 0 left 0 );

		@include size( 100% );

		object: {
			fit: cover;
			position: center;
		}
	}
}
