/**
 * Page
 *
 * @uses .Page
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */
.Page {

    // .Page__hero
    &__hero {
        @extend %position-relative;
        @include padding( top $grid-gutter-width * 2.5 bottom $grid-gutter-width );

        background: {
            color: the_color( blue, very-soft );
        }
        color: the_color( white );


        // .Page__hero__title
        &__title {
            @include margin( top 0 bottom 0 );
            @extend %position-relative;

            z-index: 4;
        }

        // .Page__hero__footer
        &__footer {
            @include padding( top $grid-gutter-width );
            @extend %text-transform-uppercase, %font-weight-medium, %text-align-center, %position-relative;
            @include letter-spacing( 100 );

            font-size: 13.5px;
            z-index: 4;

            svg {
                @include size( $grid-gutter-width / 2, $grid-gutter-width );
                @include margin( top $grid-gutter-width / 2 bottom $grid-gutter-width / 2 );
            }

			.scroll-to {
				@include absolute();
			}

			.scroll-to-dot {
				animation: MoveUpDown 2.4s map-get( $easings, ease ) infinite;

				@keyframes MoveUpDown {
					0%, 100% {
						transform: translate3d( 0, 0, 0 );
					}
					50% {
						transform: translate3d( 0, 12px, 0 );
					}
				}
			}
        }
    }

    // .Page__content
    &__content {
        @include padding( top $grid-gutter-width * 4 bottom $grid-gutter-width * 4 );

        // .Site-header .Grid
        .Grid {
            color: rgba( the_color( blue, very-dark ), 0.2 );
        }

		@at-root .Gallery-page & {
			background-color: the_color( blue, very-dark );
			color: the_color( white );
		}
    }

    // .Page__wrapper
    &__wrapper {
        @extend %position-relative;
    }
}
