<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>La LEAGLE CUP / Coming soon</title>

		<!-- Facebook -->
		<meta property="og:locale" content="fr_FR">
		<meta property="og:type" content="website">
		<meta property="og:title" content="La LEAGLE CUP">
		<meta property="og:site_name" content="leaglecup.fr">
		<meta property="og:description" content="Le monde du Droit rencontre le monde du Chiffre sur le green !">
		<meta property="og:image" content="<%= require( './src/img/jpg/share.jpg' ) %>">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Leagle Cup">
		<meta name="twitter:image" content="<%= require( './src/img/jpg/share.jpg' ) %>">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
		<link rel="manifest" href="./favicons/site.webmanifest">
		<link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132340113-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
	  		function gtag(){
				dataLayer.push(arguments);
			}
		  	gtag('js', new Date());
		  	gtag('config', 'UA-132340113-1');
		</script>


	</head>

	<body>
		<div class="App padding-y-5">
			<img class="App__background" src="<%= require( './src/img/jpg/background.jpg' ) %>" alt="Eagle Cup" width="1272" height="794">
			<div class="Site-container">

				<div class="row">
					<div class="col-12 d-flex justify-content-center">
						<a href="http://leaglecup.fr">
							<img class="d-block" src="<%= require( './src/img/svg/logo-leagle-cup.svg' ) %>" alt="Eagle Cup logo" width="165" height="176">
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-10 offset-lg-1 text-align-center">
						<h1>
							Les 11 et 12 octobre 2019 au Golf International Barrière La Baule !<br>-
						</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2 text-align-center">
						<p>La <strong>LEAGLE CUP</strong> se veut le nouvel événement golfique où le monde du <strong>Droit</strong> rencontre celui du <strong>Chiffre</strong>. L’<strong>événement est exclusivement réservé aux avocats et aux experts-comptables</strong>.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-8 offset-lg-2 text-align-center">
						<h2 class="margin-0">Coming Soon</h2>
						<p class="h3 margin-bottom-3">
							Le site de la <strong>LEAGLE CUP</strong> est en construction et prochainement disponible.<br>
							<strong>Vous souhaitez vous inscrire ou plus d’informations sur le tournoi ?<br>
							Adressez-nous vos mails à l’adresse suivante : <a class="text-decoration-underline" href="mailto:contact@leaglecup.fr?bcc=jfmenguy@weblex.fr" target="_blank">contact@leaglecup.fr</a></strong>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-12 d-flex justify-content-center">
						<a class="Button Button--outline-primary margin-bottom-3" href="./pdf/leagle-cup-dossier-de-presentation-et-de-sponsoring.pdf" target="_blank">
							<strong>Téléchargez notre dossier de présentation et de sponsoring !</strong>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-12 text-align-center">
						<h2 class="margin-top-2"><strong>See you on the green!</strong></h2>
					</div>
				</div>

				<div class="row">
					<div class="col-6 d-flex justify-content-end">
						<a href="http://inovera.fr" class="d-block" target="_blank">
							<img class="d-block" src="<%= require( './src/img/svg/logo-inovera.svg' ) %>" alt="Inovera" width="100" height="100">
						</a>
					</div>
					<div class="col-6 d-flex justify-content-start">
						<a href="https://www.weblex.fr" class="d-block" target="_blank">
							<img class="d-block" src="<%= require( './src/img/svg/logo-weblex.svg' ) %>" alt="WebLex" width="100" height="100">
						</a>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
