/**
 * Partners block
 *
 * @uses .Partners-block
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */
.Partners-block {
    $this: &;

    @extend %position-relative;

    color: the_color( white );

    // .Partners-block .Grid
    .Grid {
        color: rgba( the_color( white ), 0.2 );
    }

    // Overlay
    &::after {
        @include absolute( top 0 right 0 bottom 0 left 0 );
        @extend .d-block;
        @include size( 100% );

        background-color: rgba( the_color( blue, very-dark ), 0.8 );
        content: '';
    }

    // .Partners__header
    &__header {
        @extend %position-relative;
        @include margin( bottom $grid-gutter-width / 2 );
        @include padding( top ( ( $grid-gutter-width / 2 ) + 1 ) + ( $grid-gutter-width * 2 ) );

        z-index: 4;
    }

    // .Partners-block__menu
    &__menu {
        @include margin( top $grid-gutter-width * 1.5 );
        @extend .d-inline-block;
        @extend %text-transform-uppercase, %font-weight-medium, %list-style-type-none;
        @include letter-spacing( 100 );

        font: {
            size: 13.5px;
        }
        line-height: #{ $base-line-height }px;
    }

    // .Partners__inner
    &__inner {
        @extend %position-relative;
        @include padding(
            top $grid-gutter-width * 4
            bottom $grid-gutter-width * 4
        );

        z-index: 4;
    }

    // .Partners-block__title
    &__title {
        @include margin( top 0 bottom $grid-gutter-width );
    }

    // .Partners-block__content
    &__content {
        p {
            @extend .h3;
            @include margin( bottom $grid-gutter-width );
        }
    }

    // .Partners-block__logo
    &__logo {
        @extend .d-block;
        @extend %margin-x-auto;
    }


    // .Partners-block__image
    &__image {
        @include absolute( top 0 right 0 bottom 0 left 0 );
        @include size( 100% );

        object: {
            fit: cover;
            position: center;
        }
    }
}
