/**
 * Button
 *
 * @uses .Button
 */
.Button {
	$this: &;

	@extend .d-block, .d-md-inline-block;

	user-select: none;

	transition:
		color 0.3s map-get( $easings, ease-in-out ),
		background-color 0.3s map-get( $easings, ease-in-out ),
		border-color 0.3s map-get( $easings, ease-in-out );

	@include media-breakpoint-up( 'md' ) {
		white-space: nowrap;
	}

	@extend %text-align-center, %text-transform-uppercase, %font-weight-medium;
	@include letter-spacing( 100 );

	border: {
		color: transparent;
		style: solid;
		radius: $grid-gutter-width / 2;
		width: 1px;
	}
	max-width: 100%;
	min-height: $grid-gutter-width * 2;

	font: {
		size: 13.5px;
	}

	@include padding(
		top ( $grid-gutter-width / 2 ) + 2
		right $grid-gutter-width / 1.5
		bottom ( $grid-gutter-width / 2 ) + 2
		left $grid-gutter-width / 1.5
	);

	&:not(:disabled):not(.disabled) {
		@extend %Cursor-pointer;
	}

	&--primary {
		color: the_color( black );

		background: {
			color: the_color( white );
		}
		border: {
			color: the_color( white );
		}

		&:hover {
			background-color: transparent;
			color: the_color( white );
		}
	}

	&--outline-primary {
		color: the_color( white );
		border: {
			color: the_color( white );
		}

		&:hover {
			background-color: the_color( white );
			color: the_color( black );
		}
	}

	&--outline-secondary {
		color: the_color( blue, very-dark );
		border: {
			color: the_color( blue, very-dark );
		}

		&:hover {
			background-color: the_color( blue, very-dark );
			color: the_color( white );
		}
	}
}
