/**
 * Form
 */
.Form {
	$this: &;

	* {
		outline: none;
	}

	transition: opacity map-get($easings, ease-in-out);

	&--loading {
		@extend %Pointer-events-none;

		opacity: 0.8;
	}
	&--success {
	}
	&--error {
	}

	&__error {
		@extend .d-none;
		p {
			@extend %text-align-center, %margin-y-0;
			@include padding(
				top ($grid-gutter-width / 2) + 2 right $grid-gutter-width / 1.5 bottom
					($grid-gutter-width / 2) + 2 left $grid-gutter-width / 1.5
			);

			border: {
				color: currentColor;
				radius: $grid-gutter-width / 2;
				style: solid;
				width: 1px;
			}
			color: the_color(red, pure);
		}

		@at-root #{ $this }--error & {
			@extend .d-block;
		}
	}

	&__success {
		@extend .d-none;
		p {
			@extend %text-align-center, %margin-y-0;
			@include padding(
				top ($grid-gutter-width / 2) + 2 right $grid-gutter-width / 1.5 bottom
					($grid-gutter-width / 2) + 2 left $grid-gutter-width / 1.5
			);

			border: {
				color: currentColor;
				radius: $grid-gutter-width / 2;
				style: solid;
				width: 1px;
			}
			color: the_color(red, pure);
			// color: the_color(yellow, soft);
		}

		@at-root #{ $this }--success & {
			@extend .d-block;
		}
	}

	// .Form__group
	&__group {
		@extend %position-relative;
		@include margin(top $grid-gutter-width / 2 bottom $grid-gutter-width);

		#{ $this } > &:first-child {
			@include margin(top 0);
		}
		#{ $this } > &:last-child {
			@include margin(bottom 0);
		}

		transition: opacity 0.3s map-get($easings, ease-in-out);

		&.is-off {
			@extend %Pointer-events-none;

			user-select: none;
			opacity: 0.3;
		}
	}

	//
	&__select,
	&__input {
		@include padding(right $grid-gutter-width / 2 left $grid-gutter-width / 2);
		@include size(100%, $grid-gutter-width * 2);

		border: {
			color: rgba(the_color(blue, very-dark), 0.3);
			radius: $grid-gutter-width / 2;
			style: solid;
			width: 1px;
		}
		transition: border-color 0.3s map-get($easings, ease-in-out);

		&:focus {
			border: {
				color: rgba(the_color(blue, very-dark), 1);
			}
		}

		// .Form__input--text
		&--text {
		}

		// .Form__input--tel
		&--tel {
		}
	}

	&__radio {
		$this: &;
		@extend .d-flex;
		@extend %cursor-pointer;

		&.is-focus,
		&:focus,
		&:hover {
			#{ $this }__input {
				border: {
					color: rgba(the_color(blue, very-dark), 1);
				}
			}
		}

		&__input {
			@extend %position-relative;
			@include size($grid-gutter-width);
			@include margin(right $grid-gutter-width / 2);

			border: {
				color: rgba(the_color(blue, very-dark), 0.3);
				radius: $grid-gutter-width / 2;
				style: solid;
				width: 1px;
			}
			flex: 0 0 auto;
			transition: border-color 0.3s map-get($easings, ease-in-out);

			&::after {
				@include absolute(top 0 right 0 bottom 0 left 0);
				@include margin(
					top $grid-gutter-width / 8 right $grid-gutter-width / 8 bottom
						$grid-gutter-width / 8 left $grid-gutter-width / 8
				);
				@extend .d-block;

				background-color: rgba(the_color(blue, very-dark), 0);
				border: {
					radius: $grid-gutter-width / 2;
				}
				transition: background-color 0.3s map-get($easings, ease-in-out);
				content: '';
			}

			@at-root #{ $this }.is-selected #{ $this }__input {
				&::after {
					background-color: rgba(the_color(blue, very-dark), 1);
				}
			}
		}
		&__label {
		}
	}

	// .Form__checkbox
	&__checkbox {
		$this: &;

		@extend .d-flex, .justify-content-end;

		//
		&--has-label button {
			@include margin(right $grid-gutter-width / 2);
		}

		button {
			@include size($grid-gutter-width);
			@extend %position-relative;

			flex: 0 0 auto;
			border: {
				color: rgba(the_color(blue, very-dark), 0.3);
				radius: $grid-gutter-width / 4;
				style: solid;
				width: 1px;
			}
			transition: border-color 0.3s map-get($easings, ease-in-out);

			&::after {
				@include absolute(top 0 right 0 bottom 0 left 0);
				@include margin(
					top $grid-gutter-width / 8 right $grid-gutter-width / 8 bottom
						$grid-gutter-width / 8 left $grid-gutter-width / 8
				);
				@extend .d-block;

				background-color: rgba(the_color(blue, very-dark), 0);
				border: {
					radius: $grid-gutter-width / 8;
				}
				transition: background-color 0.3s map-get($easings, ease-in-out);
				content: '';
			}

			@at-root #{ $this }.is-focus button,
				#{ $this }:focus button,
				#{ $this }:hover button {
				border: {
					color: rgba(the_color(blue, very-dark), 1);
				}
			}

			@at-root #{ $this }.is-selected button {
				&::after {
					background-color: rgba(the_color(blue, very-dark), 1);
				}
			}
		}
	}

	//
	&__label {
		@include margin(right $grid-gutter-width / 4 left $grid-gutter-width / 4);
		@extend .d-block;
		@extend %font-weight-bold;
		@include margin(bottom $grid-gutter-width / 4);

		// .Form__label--required
		&--required {
			&::after {
				@include margin(left $grid-gutter-width / 8);
				@extend .d-inline-block;
				@extend %font-weight-regular;

				color: the_color(red, pure);
				content: '*';
			}
		}
	}

	//
	&__submit {
		width: 100%;
	}

	&__message {
		font-size: 13.5px;
		line-height: $grid-gutter-width;

		&--required {
			color: the_color(red, pure);
		}
	}

	//
	&__error-message {
		@extend %Pointer-events-none;
		@include absolute(top 100% right 0 left 0);
		@include margin(right $grid-gutter-width left $grid-gutter-width);

		color: the_color(red, pure);
		font-size: 13.5px;
		line-height: $grid-gutter-width;
	}
}
