/**
 * Partners
 *
 * @uses .Partners
 * @author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
 */
.Partners {

    // .Partners__title
    &__title {
        @extend .h4;
        @extend %font-weight-bold;
        @include margin( bottom $grid-gutter-width / 2 );

        border: {
            bottom: {
                style: solid;
                width: 1px;
            }
        }
        line-height: $base-line-height * 2px
    }

    // .Partners__items
    &__items {
        @extend .d-flex;
        @extend %list-style-type-none;
    }

    // .Partners__item
    &__item {
        @include margin( right $grid-gutter-width / 2 left $grid-gutter-width / 2 );

        &:last-child { @include margin( right 0 ); }
        &:first-child { @include margin( left 0 ); }

        a {
            @extend .d-block;
        }

        img {
            @extend .d-inline-block;
            @extend %vertical-align-middle;

            @include size( auto, 48px );

            max-width: $grid-gutter-width * 6;

            object: {
                fit: contain;
                position: center;
            }
        }
    }
}
