/**
 * What you see is what you get
 */
.Wysiwyg {

	& > *:first-child {
		margin-top: 0!important;
	}

	h1 {}

	h2 {}

	h3 {}

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		text-decoration: underline;
	}
}
