/**
 * What you see is what you get
 */
.Wysiwyg {
	@extend %position-relative;

	z-index: 4;

	& > *:first-child {
		margin-top: 0!important;
	}

	& > *:last-child {
		margin-bottom: 0!important;
	}

	h1 {}

	h2 {
		@extend .h1;
		@include margin( bottom $grid-gutter-width );
	}

	h3 {
		@extend .h2;
		@include margin( bottom $grid-gutter-width / 2 );

		border: {
			bottom: {
				style: solid;
				width: 1px;
			}
		}
	}

	h4 {
		width: 50%;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		text-decoration: underline;
	}
}
