{#

Grid

@author Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
#}
<div class="Grid">
	{% spaceless %}
    	{% for i in 1..8 %}
    		<div class="Grid-column"></div>
    	{% endfor %}
	{% endspaceless %}
</div>
