{#

@author     Jérémy Levron <jeremylevron@19h47.fr> (http://19h47.fr)
@file       views/footer.twig
@package    LeagleCup

#}
			</div>
		</main>

		<footer class="Site-footer"></footer>

		{{ wp_footer }}
		{% include 'common/guid.html.twig' %}

	</body>
</html>
