/**
 * Password form
 */
.password-form {
	&__label {
		@include margin(right $grid-gutter-width / 2);
	}

	&__input {
		@extend %font-family-title;

		@include margin(right $grid-gutter-width / 2);

		@include padding(
			top $grid-gutter-width / ($scale-factor * 2) right $grid-gutter-width /
				($scale-factor * 2) bottom $grid-gutter-width / ($scale-factor * 2) left
				$grid-gutter-width / ($scale-factor * 2)
		);

		border: {
			bottom: {
				color: the_color(black);
				style: solid;
				width: 1px;
			}
		}
	}
}
