/**
 *
 */
.Member {
	@include margin( top $grid-gutter-width right 0 bottom $grid-gutter-width left 0 );

	margin-bottom: 0!important;
	width: 100%;

	@include media-breakpoint-up( 'md' ) {
		@include margin( top 0 right $grid-gutter-width / 2 bottom 0 left $grid-gutter-width / 2 )
		width: percentage( 1 / 5 );
	}

	&:first-child { @include margin( top 0 left 0 ); }
	&:last-child { @include margin( bottom 0 right 0 ); }


	&__thumbnail {
		@extend %position-relative;
		height: $grid-gutter-width * 8;
		background-color: rgba( the_color( blue, very-dark ), 0.5 );

		&::after {
			@include absolute( top 0 right 0 bottom 0 left 0 );
			@extend .d-block;

			content: '';
			background-color: rgba( the_color( blue, very-dark ), 0.3 );
		}

		img {
			@extend .d-inline-block;
			@extend %vertical-align-middle;
			@include size( 100%, 100%!important );

			filter: grayscale( 100% );
			object-fit: cover;
			object-position: center;
		}
	}

	// .Member__title
	&__title {
		margin-top: 0!important;
		font-size: $base-font-size-px!important;
	}

	// .Member__socials
	&__socials {
		padding-left: 0!important;
	}
}
