// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/**
 * Color variation
 *
 * Each colors used in the theme.
 *
 * @uses get_color( $key, $value ) to retrieve color value
 * @type nested map
 * @see http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 * @see http://www.colorhexa.com/ to pickup color name
 */
$color-variations: (
	black: #000,
	white: #fff,

	red: (
		pure: #ff3200,
	),

	blue: (
		pure: #0000ff,
		very-dark: #000747,
		very-soft: #8292dd,
	),

	yellow: (
		soft: #c4e25d,
	),

	/**
	 * Brand colors
	 *
	 * @see https://brandcolors.net/
	 */
	socials: (
		facebook: #3b5998,
		twitter: #1da1f2,
		google-plus: #dd4b39,
		linkedin: #0077b5,
		viadeo: #f07355,
	)
);


/**
 * Font
 *
 * A map containing all information about fonts
 *
 * @type map
 */
$font: (


	/**
	 * Font weights
	 *
	 * Each font weight used in the theme.
	 *
	 * @uses map-get( $font, weights ) to retrieve font weight value
	 * @type map
	 */
	weights: (
		extralight: 100,
		light: 200,
		book: 300,
		regular: 400,
		medium: 500,
		semibold: 600,
		bold: 700,
		extrabold: 800,
		extrablack: 900
	),


	/**
	 * Font styles
	 *
	 * Each font style used in the theme.
	 *
	 * @uses map-get( $font, styles ) to retrieve font style value
	 * @type list
	 */
	styles: 'italic',


	/**
	 * Font sizes
	 *
	 * Each font size used in the theme.
	 *
	 * @uses map-get( $font, sizes ) to retrieve font size value
	 * @type list
	 */
	sizes: 22,
);


/**
 * Base
 */
$base-font-size: 18;
$base-font-size-px: $base-font-size * 1px;
$base-line-height: 24;
$scale-factor: 1.333;


/**
 * Outer gutter width
 *
 * (Most of the time it's the size of a gutter divide by 2.)
 * Useful for the container.
 */
$grid-outer-gutter-width-unitless: $grid-gutter-width-unitless;
$grid-outer-gutter-width: $grid-outer-gutter-width-unitless * 1px;


/**
 * Prototype width
 *
 * From Photoshop, Sketch, Illustrator, Paint maybe? 😝
 */
$prototype-width-unitless: 1366;
$prototype-width: $prototype-width-unitless * 1px;


/**
 * Container width without grid outer gutter width
 *
 * Width keep from prototype
 */
$container-width-without-outer-gutter-unitless: 1110;
$container-width: $container-width-without-outer-gutter-unitless * 1px;


/**
 * Container sizes
 *
 * Sizes keep from prototype (grid + outer gutter * 2 )
 */
$container-width-unitless: $container-width-without-outer-gutter-unitless + ( $grid-outer-gutter-width-unitless * 2 );
$container-width: $container-width-unitless * 1px;


/**
 * Prototype height
 */
$prototype-height-unitless: 720;
$prototype-height: $prototype-height-unitless * 1px;


/**
 * Spacers
 *
 * Usefull for padding and margin utilities rythm
 */
$spacers: (
	0: 0,
	1: #{ $base-line-height * 0.25 },
	2: #{ $base-line-height * 0.5 },
	3: #{ $base-line-height },
	4: #{ $base-line-height * 1.5 },
	5: #{ $base-line-height * 2 },
	6: #{ $base-line-height * 3 },
	7: #{ $base-line-height * 4 },
	8: #{ $base-line-height * 5 },
);


/**
 * Directories
 *
 * Each directories used in this theme.
 *
 * @uses 	map-get( $directories, $key ) to retrieve directory value
 * @type 	map
 * @author 	Jérémy Levron <jeremylevron@19h47.fr>
 */
$directories: (
	fonts: '../fonts/',
	img: '../img/',
	svg: '../img/svg/',
	jpg: '../img/jpg/',
	png: '../img/png/',
	gif: '../img/gif/',
);


/**
 *
 */
$pi: 3.14159265359;
