/**
 * Base
 */

html {}

body {

	font-size: $base-font-size-px;
	line-height: $scale-factor;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: the_color( blue, very-dark );

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

	@extend %font-weight-regular;
}

a,
button {
	cursor: pointer;
	outline: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	@include margin (
		top 0
		bottom #{ $base-line-height }px
	);
}

strong {
	@extend %font-weight-bold;
}
